
body {
    font: 13px "Arial", Arial;
}

#plot1-container{
  border: 1px solid blue;
  position: fixed;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

text.country-title {
	font-size: 18px;
}

g.australia path.chart {
	fill:  #dddddd;
}

g.chile path.chart {
	fill: #6f6a6a;
}


.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}



/*------------AXIS OF THE TIME SLIDER-------------------*/
/*The line that divides the context from the above graph*/
g.context>line{
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 2;
}

g.context .outerTick{
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 1;
}

/*horizontal line*/
g.context g.axis path {
	stroke-opacity: 1;
  stroke: purple;
}

/*vertical ticks*/
g.context g.axis line {
	stroke-opacity: 1;
  /*stroke-width: 3;*/
  stroke: red;
}

/*text*/
g.context g.axis text {
  /*stroke-width: 1;*/
  stroke: blue;
  text-anchor: middle;/* middle or start or end */
}
/*------------BRUSH-------------------*/
g.context g.xbrush rect.selection{
	fill: yellow;
  cursor: ew-resize;
  /*height: 20px;*/
}
