
#plot1_container{
  border: 1px solid blue;
  position: fixed;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.stackedAreaBorder{
  stroke: black;
  stroke-opacity: 1;
  stroke-width:1;
  fill:none
}

.sliderBox .topLine{
  stroke: black;
  stroke-opacity: 1;
  stroke-width:1;
  fill:none
}

.sliderBox .outerTick{
  stroke: black;
  stroke-opacity: 1;
  stroke-width:1;
  fill:none
}

.upperLinesContainer path {
  fill:none;
}



/*g.stackedArea .upperPath{
  stroke: black;
  stroke-width:1;
  fill:none
}*/








/*------------AXIS OF THE TIME SLIDER-------------------*/
/*The line that divides the context from the above graph*/
/*g.context>line{
  stroke: blue;
  stroke-opacity: 1;
  stroke-width: 1;
}*/
/*The end ticks if the time interval displayed is not .nice()*/
/*g.context .outerTick{
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 1;
}*/

/*horizontal axis line*/
/*g.context g.axis path {
	stroke-opacity: 1;
  stroke: black;
}*/

/*vertical ticks*/
/*g.context g.axis line {
	stroke-opacity: 1;
  /*stroke-width: 3;*/
  /*stroke: black;
}*/

/*text of axis (temporal labels)*/
/*g.context g.axis text {
  stroke-width: 0.3;
  stroke: black;
  text-anchor: middle;/* middle or start or end */
/*}
/*------------BRUSH-------------------*/
/*g.context g.xbrush rect.selection{
	fill: yellow;
  cursor: ew-resize;
  stroke: black;
  /*height:16px;
  transform: translate(0px,17px)*/
/*}

g.context g.xbrush rect.handle{
  /*cursor: ew-resize;
  stroke: black;
  height:16px;
  transform: translate(0px,17px)*/
/*}
g.stackedArea .verticalLines{
  stroke: black;
  stroke-width: 1;
}

g.stackedArea .chartFrames .partOfchart{
  stroke: black;
  stroke-width: 1;
}
